encoding techniques

In [1]:
#label encoding
import pandas as pd
from sklearn.preprocessing import LabelEncoder
df=pd.read_csv('IRIS.csv')
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [2]:
#encode labels in species column
#used in ordinal variables that require rearrangement based on ranking
encode=LabelEncoder()
df['species']=encode.fit_transform(df['species'])
df['species'].unique()

array([0, 1, 2])

# one_hot encoding using pandas

In [5]:
#one-hot encoding
#its is used in norminal variables which are simply unordered
one_hot=pd.get_dummies(df['species'])
print(one_hot.to_string())

     0  1  2
0    1  0  0
1    1  0  0
2    1  0  0
3    1  0  0
4    1  0  0
5    1  0  0
6    1  0  0
7    1  0  0
8    1  0  0
9    1  0  0
10   1  0  0
11   1  0  0
12   1  0  0
13   1  0  0
14   1  0  0
15   1  0  0
16   1  0  0
17   1  0  0
18   1  0  0
19   1  0  0
20   1  0  0
21   1  0  0
22   1  0  0
23   1  0  0
24   1  0  0
25   1  0  0
26   1  0  0
27   1  0  0
28   1  0  0
29   1  0  0
30   1  0  0
31   1  0  0
32   1  0  0
33   1  0  0
34   1  0  0
35   1  0  0
36   1  0  0
37   1  0  0
38   1  0  0
39   1  0  0
40   1  0  0
41   1  0  0
42   1  0  0
43   1  0  0
44   1  0  0
45   1  0  0
46   1  0  0
47   1  0  0
48   1  0  0
49   1  0  0
50   0  1  0
51   0  1  0
52   0  1  0
53   0  1  0
54   0  1  0
55   0  1  0
56   0  1  0
57   0  1  0
58   0  1  0
59   0  1  0
60   0  1  0
61   0  1  0
62   0  1  0
63   0  1  0
64   0  1  0
65   0  1  0
66   0  1  0
67   0  1  0
68   0  1  0
69   0  1  0
70   0  1  0
71   0  1  0
72   0  1  0
73   0  1  0
74   0  1  0
75   0  1  0
76   0  1  0
77   0  1  0
78   0  1  0
79   0  1  0
80   0  1  0
81   0  1  0
82   0  1  0
83   0  1  0
84   0  1  0
85   0  1  0
86   0  1  0
87   0  1  0
88   0  1  0
89   0  1  0
90   0  1  0
91   0  1  0
92   0  1  0
93   0  1  0
94   0  1  0
95   0  1  0
96   0  1  0
97   0  1  0
98   0  1  0
99   0  1  0
100  0  0  1
101  0  0  1
102  0  0  1
103  0  0  1
104  0  0  1
105  0  0  1
106  0  0  1
107  0  0  1
108  0  0  1
109  0  0  1
110  0  0  1
111  0  0  1
112  0  0  1
113  0  0  1
114  0  0  1
115  0  0  1
116  0  0  1
117  0  0  1
118  0  0  1
119  0  0  1
120  0  0  1
121  0  0  1
122  0  0  1
123  0  0  1
124  0  0  1
125  0  0  1
126  0  0  1
127  0  0  1
128  0  0  1
129  0  0  1
130  0  0  1
131  0  0  1
132  0  0  1
133  0  0  1
134  0  0  1
135  0  0  1
136  0  0  1
137  0  0  1
138  0  0  1
139  0  0  1
140  0  0  1
141  0  0  1
142  0  0  1
143  0  0  1
144  0  0  1
145  0  0  1
146  0  0  1
147  0  0  1
148  0  0  1
149  0  0  1

# one_hot encoding using sklearn

In [11]:
#one _hot encoding it eliminates one category,
#that is total categories minus 1
from sklearn.preprocessing import OneHotEncoder
encode=OneHotEncoder()
x=df['species']=encode.fit_transform(df[['species']]).toarray()
print(x)

[[0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]]